##Build model using graphlab

In [9]:
import graphlab as gl
sf = gl.SFrame('data/user_login_info.csv')

PROGRESS: Finished parsing file /Users/mhardas/Google Drive/work/project/twitter-data-challenge/data/user_login_info.csv
PROGRESS: Parsing completed. Parsed 100 lines in 4.15033 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[int,str,str,int,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Read 3172097 lines. Lines per second: 1.01049e+06
PROGRESS: Finished parsing file /Users/mhardas/Google Drive/work/project/twitter-data-challenge/data/user_login_info.csv
PROGRESS: Parsing completed. Parsed 4000000 lines in 3.52387 secs.

In [10]:
sf.head()

Columns:
	user_id	int
	country_id	str
	primary_device	str
	days_active	int
	activity	str

Rows: 10

Data:
+---------+------------+----------------+-------------+----------+
| user_id | country_id | primary_device | days_active | activity |
+---------+------------+----------------+-------------+----------+
|    1    |     h      |       B        |      26     |    t     |
|    2    |     d      |       B        |      27     |    t     |
|    3    |     h      |       A        |      21     |    t     |
|    4    |     h      |       A        |      29     |    t     |
|    5    |     h      |       E        |      30     |    f     |
|    6    |     h      |       B        |      26     |    t     |
|    7    |     g      |       B        |      30     |    t     |
|    8    |     g      |       B        |      30     |    t     |
|    9    |     h      |       A        |      30     |    t     |
|    10   |     h      |       A        |      22     |    t     |
+---------+------------+----------------+-------------+----------+
[10 rows x 5 columns]

Graphlab considers strings as categorical variables

Split dataset into 80/20 training and test set

In [3]:
train, test = sf.random_split(0.8, seed=1)

Create a (binary or multi-class) classifier model of type BoostedTreesClassifier using gradient boosted trees (sometimes known as GBMs).

In [11]:
model = gl.boosted_trees_classifier.create(train, target='activity')

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

PROGRESS: Boosted trees classifier:
PROGRESS: --------------------------------------------------------
PROGRESS: Number of examples          : 3039813
PROGRESS: Number of classes           : 2
PROGRESS: Number of feature columns   : 4
PROGRESS: Number of unpacked features : 4
PROGRESS: Starting Boosted Trees
PROGRESS: --------------------------------------------------------
PROGRESS:   Iter      Accuracy          Elapsed time
PROGRESS:         (training) (validation)
PROGRESS:      0   8.233e-01   8.226e-01        2.98s
PROGRESS:      1   8.242e-01   8.238e-01        5.89s
PROGRESS:      2   8.246e-01   8.240e-01        8.64s
PROGRESS:      3   8.246e-01   8.242e-01       11.40s
PROGRESS:      4   8.248e-01   8.245e-01       14.34s
PROGRESS:      5   8.247e-01   8.246e-01       17.10s
PROGRESS:      6   8.248e-01   8.247e-01       19.98s
PROGRESS:      7   8.249e-01   8.248e-01       23.11s
PROGRESS:      8   8.250e-01   8.249e-01       26.11s
PROGRESS:      9   8.250e-01   8.249e-01       29.27s

In [12]:
model

Class                         : BoostedTreesClassifier

Schema
------
Number of examples            : 3039813
Number of classes             : 2
Number of feature columns     : 4
Number of unpacked features   : 4

Settings
--------
Number of trees               : 10
Max tree depth                : 6
Train accuracy                : 0.825
Validation accuracy           : 0.8249
Training time (sec)           : 31.2555

Evalue with test dataset

In [14]:
res = model.evaluate(test)
res

{'accuracy': 0.8249219088014845, 'confusion_matrix': Columns:
 	target_label	str
 	predicted_label	str
 	count	int

 Rows: 4

 Data:
 +--------------+-----------------+--------+
 | target_label | predicted_label | count  |
 +--------------+-----------------+--------+
 |      f       |        f        | 45582  |
 |      t       |        f        | 29139  |
 |      t       |        t        | 614113 |
 |      f       |        t        | 110872 |
 +--------------+-----------------+--------+
 [4 rows x 3 columns]}