###Anova analysis by country

In [1]:
import graphlab as gl
graph = gl.SFrame.read_csv('data/user_graph.csv')
eng = gl.SFrame.read_csv('data/user_engagement.csv')
login = gl.SFrame.read_csv('data/user_login_info.csv')

login_eng = login.join(eng, on='user_id', how='inner')
login_eng_graph = login_eng.join(graph, on='user_id', how='inner')
login_eng_graph, drop = login_eng_graph.dropna_split()

[INFO] This commercial license of GraphLab Create is assigned to mjdata@mindjet.com.

[INFO] Start server at: ipc:///tmp/graphlab_server-4636 - Server binary: /Library/Python/2.7/site-packages/graphlab/unity_server - Server log: /tmp/graphlab_server_1440379406.log
[INFO] GraphLab Server Version: 1.5.2

PROGRESS: Finished parsing file /Users/mhardas/Google Drive/work/project/twitter-data-challenge/data/user_graph.csv
PROGRESS: Parsing completed. Parsed 100 lines in 1.50934 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[int,int,int,int,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Read 2641306 lines. Lines per second: 1.27888e+06
PROGRESS: Finished parsing file /Users/mhardas/Google Drive/work/project/twitter-data-challenge/data/user_graph.csv
PROGRESS: Parsing completed. Parsed 4000000 lines in 2.44885 secs.
PROGRESS: Finished parsing file /Users/mhardas/Google Drive/work/project/twitter-data-challenge/data/user_engagement.csv
PROGRESS: Parsing completed. Parsed 100 lines in 1.56959 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[int,int,int,int,int,int,int,int,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Read 1737129 lines. Lines per second: 659683
PROGRESS: Finished parsing file /Users/mhardas/Google Drive/work/project/twitter-data-challenge/data/user_engagement.csv
PROGRESS: Parsing completed. Parsed 4000000 lines in 3.80573 secs.
PROGRESS: Finished parsing file /Users/mhardas/Google Drive/work/project/twitter-data-challenge/data/user_login_info.csv
PROGRESS: Parsing completed. Parsed 100 lines in 3.99922 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[int,str,str,int,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Read 3172097 lines. Lines per second: 861252
PROGRESS: Finished parsing file /Users/mhardas/Google Drive/work/project/twitter-data-challenge/data/user_login_info.csv
PROGRESS: Parsing completed. Parsed 4000000 lines in 4.07654 secs.

###Hypothesis: Activity of a person is a function of the country_id

Activity is a loosely defined term on purpose. Consider activity is defined as the sum of "engagement" metrics from the dataset.

In [7]:
login_eng_graph['activity_metics'] = login_eng_graph.apply(lambda x: x['num_tweet_days_30d'] + x['time_in_app_30d'] +
                                                           x['num_timeline_views_30d'] + x['num_share_sent_days_30d']
                                                           + x['num_share_rcvd_30d'] + x['num_favour_sent_30d'] +
                                                           x['num_favour_rcvd_30d'])
print login_eng_graph

+---------+------------+----------------+-------------+----------+----------------+
| user_id | country_id | primary_device | days_active | activity | num_tweets_30d |
+---------+------------+----------------+-------------+----------+----------------+
|    1    |     h      |       B        |      26     |    t     |      186       |
|    2    |     d      |       B        |      27     |    t     |       5        |
|    3    |     h      |       A        |      21     |    t     |       0        |
|    4    |     h      |       A        |      29     |    t     |       4        |
|    5    |     h      |       E        |      30     |    f     |       1        |
|    6    |     h      |       B        |      26     |    t     |       51       |
|    7    |     g      |       B        |      30     |    t     |      4713      |
|    8    |     g      |       B        |      30     |    t     |       5        |
|    9    |     h      |       A        |      30     |    t     |      185       |
|    10   |     h      |       A        |      22     |    t     |       0        |
+---------+------------+----------------+-------------+----------+----------------+
+--------------------+-----------------+------------------------+-------------------------+
| num_tweet_days_30d | time_in_app_30d | num_timeline_views_30d | num_share_sent_days_30d |
+--------------------+-----------------+------------------------+-------------------------+
|         24         |      14109      |          806           |            19           |
|         5          |       2114      |           85           |            4            |
|         0          |        0        |           32           |            0            |
|         3          |      12654      |          595           |            1            |
|         1          |        0        |          1335          |            0            |
|         14         |      10729      |          262           |            11           |
|         29         |      14546      |          649           |            28           |
|         5          |       1993      |          518           |            5            |
|         26         |       3030      |          157           |            17           |
|         0          |       5683      |          274           |            0            |
+--------------------+-----------------+------------------------+-------------------------+
+--------------------+---------------------+---------------------+-----------+
| num_share_rcvd_30d | num_favour_sent_30d | num_favour_rcvd_30d | followers |
+--------------------+---------------------+---------------------+-----------+
|         7          |         111         |          27         |    144    |
|         0          |          1          |          0          |     90    |
|         0          |          0          |          0          |     2     |
|         0          |          6          |          0          |     21    |
|         0          |          0          |          0          |     1     |
|         0          |         117         |          4          |     21    |
|         0          |          3          |          4          |    247    |
|         0          |          30         |          0          |    266    |
|         16         |          13         |          12         |    964    |
|         0          |          0          |          0          |    180    |
+--------------------+---------------------+---------------------+-----------+
+------------+------------------+-------------------------------+-----------------+
| followings | active_followers | num_mutual_follower_added_30d | activity_metics |
+------------+------------------+-------------------------------+-----------------+
|    139     |       134        |               10              |      15103      |
|    435     |        78        |               16              |       2209      |
|     14     |        0         |               0               |        32       |
|    131     |        13        |               1               |      13259      |
|     59     |        0         |               1               |       1336      |
|    117     |        19        |               2               |      11137      |
|    500     |       190        |               17              |      15259      |
|    363     |       212        |               28              |       2551      |
|    728     |       599        |               6               |       3271      |
|    718     |       117        |               0               |       5957      |
+------------+------------------+-------------------------------+-----------------+
[3919937 rows x 18 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

Get the set of countries and sum of users from each country

In [9]:
import graphlab.aggregate as agg
countries = login_eng_graph.groupby('country_id', operations={'count': agg.COUNT()})
countries

Columns:
	country_id	str
	count	int

Rows: 8

Data:
+------------+---------+
| country_id |  count  |
+------------+---------+
|     a      |  49285  |
|     g      | 1134673 |
|     c      |  66611  |
|     h      | 1742210 |
|     f      |  104267 |
|     d      |  476008 |
|     b      |  166687 |
|     e      |  180196 |
+------------+---------+
[8 rows x 2 columns]

Sample users from eight different countries. Each sample consists of n=10000 users. No real reason behind selecting
this number. It is open to interpretation.